            html,body{
                 width: 100%;
                 height: 100%;
                 margin: 0px;
                 padding: 0px;
                 overflow-x: hidden; 
            }
            *{
                color: white;
            }
            body{
                background-color: #0a0a0b;
                font-family: "Inter", sans-serif;
                color: white;
            }
            section{
                position: relative;
                left: 100px;
                margin-left: 3px;
            }
            h1, h2, h4{
                font-family: "Prata", serif;
                font-weight: lighter;
                display: inline;
            }
            a{
                text-decoration: none;
            }
            .myName{
                width: 16rem;
                font-weight: bolder;
            }
            .links{
                word-spacing: 2rem;
                width: 30rem;
                line-break: none;
            }
            .index{
                margin-bottom: 50px ;
            }
            .table1{
                padding-top: 25px;
            }
            .title1{
                font-size: 3em;
            }
            #walmart{
                padding-right: 2.5em;
            }
            .icons{
                padding: 0em 3em 0em 3em;
            }
            td{
                padding-right: 5em ;
            }
            .headers{
                font-size: 2rem;
                height: 1em;
            }
            #row2 td{
                padding-top: 1em;
            }
            .excluded{
                 background-color: #2E3038;
                 height: 365px;
            }
            .excluded td{
                width: 53%;
            }
            .final{
                position: relative;
                margin-top: 50px;
                margin-bottom: 50px;
            }
            .last{
                height:60px;
                margin:5px;
            }
            #final_heading{
                line-height: 60px;
            }
            :root{
                --clr-neon: #FBE850;
                --clr-bg: #FBE850;
            }
            .buttons{
                height: 45px;
                width: 150px;
                font-size: 1.2em;
                font-family: "Inter", sans-serif;
                cursor: pointer;
                color: var(--clr-neon);
                border-color: var(--clr-neon);
                border-radius: 0.25em;
                background-color: black ;
                font-weight: 900;
                text-shadow: 1px 0 #888888;
                letter-spacing:0.5px;
                box-shadow: inset 0 0 0.5em 0 var(--clr-neon);
            }
            .buttons:hover, .buttons:focus{
                background-color: var(--clr-neon);
                color: black;
            }

            .myContacts{
                width: 110rem;
            }
            .socials{
                word-spacing: 10px;
            }